img {
    width: 3em;
}

#results {
    text-align: center;
    background-color: #4D5159;
    color: #F2F2F2;
    padding: 1em;
    border-radius: 1em;
}

body {
    background-color: #D2D5D9 !important;
}

.container {
    font-size: 2vh !important;
}

.form-control {
    background-color: #F2F2F2 !important;
}

h1 {
    text-align: center;
    font-size: 5vh !important;
}